apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: stable
apiServerCertSANs:
  - {% for h in groups['tag_role_lb-kube'] %}{{ hostvars[h].ansible_default_ipv4.address }}{% endfor %}

controlPlaneEndpoint: "{% for h in groups['tag_role_lb-kube'] %}{{ hostvars[h].ansible_default_ipv4.address }}{% endfor %}:6443"
etcd:
  external:
    endpoints:
{% for h in groups['tag_role_kube-master'] %}
      - https://{{ hostvars[h].ansible_default_ipv4.address }}:2379
{% endfor %}
    caFile: /etc/etcd/ca.pem
    certFile: /etc/etcd/kubernetes.pem
    keyFile: /etc/etcd/kubernetes-key.pem
networking:
  podSubnet: 10.30.0.0/24
apiServerExtraArgs:
  apiserver-count: "3"