#!/bin/bash

types="kubernetes"
KUBERNETES_PUBLIC_ADDRESS={%for h in groups['tag_role_lb-kube']%}{{ hostvars[h].ansible_default_ipv4.address }}{% endfor%}

for type in $types; do

kubectl config set-cluster kubernetes-the-hard-way \
 --certificate-authority=ca.pem \
 --embed-certs=true \
 --server=https://${KUBERNETES_PUBLIC_ADDRESS}:6443 \
 --kubeconfig=${type}.kubeconfig

kubectl config set-credentials system:node:${type} \
 --client-certificate=kubernetes.pem \
 --client-key=kubernetes-key.pem \
 --embed-certs=true \
 --kubeconfig=${type}.kubeconfig

kubectl config set-context default \
 --cluster=kubernetes-the-hard-way \
 --user=system:node:${type} \
 --kubeconfig=${type}.kubeconfig

kubectl config use-context default --kubeconfig=${type}.kubeconfig
done

for type in  $(echo -e "kube-controller-manager\nkube-scheduler"); do
echo "> $type"
kubectl config set-cluster kubernetes-the-hard-way \
 --certificate-authority=ca.pem \
 --embed-certs=true \
 --server=https://127.0.0.1:6443 \
 --kubeconfig=${type}.kubeconfig

kubectl config set-credentials system:node:${type} \
 --client-certificate=kubernetes.pem \
 --client-key=kubernetes-key.pem \
 --embed-certs=true \
 --kubeconfig=${type}.kubeconfig

kubectl config set-context default \
 --cluster=kubernetes-the-hard-way \
 --user=system:node:${type} \
 --kubeconfig=${type}.kubeconfig

kubectl config use-context default --kubeconfig=${type}.kubeconfig
done

kubectl config set-cluster kubernetes-the-hard-way \
    --certificate-authority=ca.pem \
    --embed-certs=true \
    --server=https://127.0.0.1:6443 \
    --kubeconfig=admin.kubeconfig

  kubectl config set-credentials admin \
    --client-certificate=admin.pem \
    --client-key=admin-key.pem \
    --embed-certs=true \
    --kubeconfig=admin.kubeconfig

  kubectl config set-context default \
    --cluster=kubernetes-the-hard-way \
    --user=admin \
    --kubeconfig=admin.kubeconfig

  kubectl config use-context default --kubeconfig=admin.kubeconfig