cfssl gencert \
-ca=ca.pem \
-ca-key=ca-key.pem \
-config=ca-config.json \
-hostname=
{%-for h in groups['tag_role_kube-master']-%}
{{ hostvars[h].ansible_default_ipv4.address }},
{%-endfor-%}
{%-for h in groups['tag_role_lb-kube']-%}
{{ hostvars[h].ansible_default_ipv4.address }}
{%-endfor-%}
,127.0.0.1,kubernetes.default \
-profile=kubernetes kubernetes-csr.json | \
cfssljson -bare kubernetes